.content-container {
  text-align: center;
}
.heading-logo {
  font-weight: bold;
}
.header,
.content,
.article {
  padding: 10px;
}
@media (max-width: 576px) {
  .heading-logo {
    display: none;
  }
}
@media (min-width: 576px) {
  .content,
  .article {
    margin: auto;
    width: 50%;
  }
  .heading {
    font-size: 26px;
  }
}
.image {
  border-radius: 5px;
  border: solid 1px black;
  width: 100%;
}
.heading {
  font-weight: bold;
}
.footer {
  background-color: #03a9f4;
  color: white;
  position: relative;
}
button {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
