.odkaz {
  width: fit-content;
  height: fit-content;
  background-color: lightsalmon;
}

table {
  border-collapse: collapse;
}

td {
  padding: 5px 8px;
  border: 1px solid #ccc;
}
div {
  border-collapse: collapse;
  padding: 5px 8px;
  border: 1px solid #ccc;
}
span {
  font-weight: bold;
  font-family: fantasy;
  font-size: large;
}
