@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #373737;
  font-family: "Poppins", sans-serif;
}

.email-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.email-form h2 {
  font-size: 20px;
  color: #f9f9f9;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 5px;
}

.email-form .email {
  width: 300px;
  background: #292929;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  font-style: 18px;
}

.input-box {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Přidání ikonek do stránky */
#form.invalid .input-box:before {
  content: "";
  position: absolute;
  right: 12px;
  top: 8px;
  width: 24px;
  height: 24px;
  background: url(img/false.png);
  background-size: cover;
  z-index: 1000;
}

#form.valid .input-box:before {
  content: "";
  position: absolute;
  right: 12px;
  top: 8px;
  width: 24px;
  height: 24px;
  background: url(img/ok.png);
  background-size: cover;
  z-index: 1000;
}
