.prvni {
  /* display: none; */
  border: 2px #32a852;
  border-style: dotted;
}
.druhy {
  opacity: 0.5;
  /* visibility: hidden; */
  left: 15px;
  border: 1px solid rgb(62, 50, 168);
}
.treti {
  border: 1px #a83257;
  border-style: double;
}
div {
  display: inline-block;
  position: relative;
  width: 25%;
  padding: 20px;
  margin: 30px;
}
.button {
  position: absolute;
  right: 15px;
  bottom: 10px;
}
